.SignPad {
  .signContainer {
    width: 500px;
    height: 200px;
    border: 1px solid;
  }

  .actionButton {
    display: block;
    min-width: 200px;
    padding: 12px 4px;
    box-sizing: border-box;
    margin: 12px 0;
    cursor: pointer;
  }
}